.blanco{
    background-color: rgba(189, 188, 130, 0.986);
}

.masculino{
    background-color: rgb(83, 136, 228);
    color: rgb(109, 46, 46);
}

.femenino{
    background-color: rgb(228, 102, 161);
    color: rgb(128, 215, 215);
}
